.team {
  width: 80%;
  max-width: 1600px;
  display: flex;
  margin: 40px 0px;
  justify-content: space-between;

  .resetSearch {
    top: 470px;
  }
}

.teamData {
  margin: 0px 15px;
  position: relative;
  width: 28%;
}

.teamForm {
  /* margin: 50px 0px; */
  top: 245px;
  width: 450px;
  box-shadow: 0 4px 4px rgb(69 90 157 / 19%);
  /* height: 120px; */
  position: fixed;
  display: flex;
  flex-direction: row;
  background: #ffffff;
  border-radius: 8px;
  justify-content: center;
}

.teamFormAction {
  width: 100%;
  margin: 15px 0px;
}

.teamInfo {
  width: 450px;
  box-shadow: 0 4px 4px rgb(69 90 157 / 19%);
  height: 80px;
  position: fixed;
  display: flex;
  background: #ffffff;
  border-radius: 8px;
  justify-content: center;
}

.teamInfoForm {
  margin: 15px 0px;
  display: flex;
  align-items: center;

  img {
    height: 60px;
  }

  .teamName {
    margin: 0px 15px;
  }
}
