.dataListItem {
  position: relative;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgb(69 90 157 / 12%);
  margin-bottom: 24px;

  &:hover {
    box-shadow: 0 16px 40px rgba(69 90 157 / 30%);

    @media screen and (max-width: 1439px) {
      box-shadow: 0 11px 20px rgba(69 90 157 / 30%);
    }
  }

  @media screen and (max-width: 1599px) {
    margin-bottom: 20px;
  }

  @media screen and (max-width: 1439px) {
    margin-bottom: 15px;
  }
}

.dataListItemLink {
  padding: 20px 32px;
  display: flex;
  justify-content: flex-start;

  @media screen and (max-width: 1919px) {
    padding: 15px 32px;
  }

  @media screen and (max-width: 1599px) {
    padding: 10px 22px;
  }

  @media screen and (max-width: 1279px) {
    padding: 7px 22px;
  }

  @media screen and (max-width: 1023px) {
    padding: 15px 22px;
  }

  @media screen and (max-width: 767px) {
    padding: 6px 12px;
  }
}

.dataListInfo {
  padding: 20px 32px;
  display: flex;
  flex-direction: column;
}

.dataListItemText {
  display: flex;
  flex-direction: column;
}

.dataListItemName {
  margin: 7px 0px;

  @media screen and (max-width: 1919px) {
    margin: 6px 0px;
  }

  @media screen and (max-width: 1599px) {
    margin: 5px 0px;
  }

  @media screen and (max-width: 1279px) {
    margin: 4px 0px;
  }
}

.dataListItemDetails {
  display: flex;
  margin: 7px 0px;

  @media screen and (max-width: 1919px) {
    margin: 6px 0px;
  }

  @media screen and (max-width: 1599px) {
    margin: 5px 0px;
  }

  @media screen and (max-width: 1279px) {
    margin: 4px 0px;
  }
}

.dataListItemCurrentSeason {
  display: flex;
  margin-right: 5px;
}

.dataListItemArea {
  margin-left: 5px;
}

.dataListItemEmblem {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    background: #ffffff;
    margin-right: 32px;
    height: 78px;
    backface-visibility: hidden;

    @media screen and (max-width: 1919px) {
      height: 70.89px;
    }

    @media screen and (max-width: 1559px) {
      height: 60px;
    }

    @media screen and (max-width: 767px) {
      margin-right: 15px;
      height: 40px;
    }
  }
}

.imgFirst {
  // transform: rotateY(180deg);
  // transition: 1s;
}

.imgSecond {
  // transition: 1s;
}

.dataListHover {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.competitionName {
  margin-bottom: 15px;
}

.teamsBattle {
  display: flex;
  align-items: center;
  /* width: 32%; */
  /* justify-content: space-between; */
  margin-bottom: 15px;
}

.awayTeam {
  margin-right: 20px;

  h4 {
    margin-bottom: 7px;
  }
}

.homeTeam {
  margin-left: 20px;

  h4 {
    margin-bottom: 7px;
  }
}

.timeAndAreaEvent {
  display: flex;
}

.time {
  margin-right: 20px;
}
