@font-face {
  font-family: 'Montserrat-Black';
  src: url('../fonts/Montserrat-Black.ttf');
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../fonts/Montserrat-Medium.ttf');
}

*,
h5,
h1,
input,
button {
  font-family: 'Montserrat-Black';
  text-decoration: none;
}

h3,
h4 {
  font-family: 'Montserrat-Medium';
  font-weight: 600;
  color: #364f6b;
}

h5 {
  color: #364f6b;
}

h2 {
  font-family: 'Montserrat-Medium';
  color: #48698f;
}

h1 {
  color: #364f6b;
  font-size: 30px;

  @media screen and (max-width: 1599px) {
    font-size: 25px;
  }

  @media screen and (max-width: 1439px) {
    font-size: 20px;
  }
}

h2,
h4,
h5 {
  font-size: 20px;

  @media screen and (max-width: 1599px) {
    font-size: 17px;
  }

  @media screen and (max-width: 1279px) {
    font-size: 15px;
  }

  @media screen and (max-width: 1023px) {
    font-size: 20px;
  }

  @media screen and (max-width: 767px) {
    font-size: 14px;
  }
}

h3 {
  font-size: 30px;

  @media screen and (max-width: 1919px) {
    font-size: 26px;
  }

  @media screen and (max-width: 1599px) {
    font-size: 23px;
  }

  @media screen and (max-width: 1279px) {
    font-size: 20px;
  }

  @media screen and (max-width: 1023px) {
    font-size: 25px;
  }

  @media screen and (max-width: 767px) {
    font-size: 17px;
  }
}

a {
  color: #364f6b;
}

button {
  background: none;
  border: 0;
  color: #364f6b;
  font-size: 30px;
  width: auto;
  &:hover {
    color: #6382a5;
  }

  @media screen and (max-width: 1279px) {
    font-size: 19px;
  }

  @media screen and (max-width: 1023px) {
    font-size: 14px;
  }
}

input {
  color: #364f6b;
}
