.resetSearch {
  top: 470px;
  width: 450px;
  box-shadow: 0 4px 4px rgb(69 90 157 / 19%);
  /* height: 120px; */
  position: fixed;
  display: flex;
  flex-direction: row;
  background: #ffffff;
  border-radius: 8px;
  justify-content: center;
}
