.competitions {
  width: 80%;
  max-width: 1600px;
  display: flex;
  margin: 40px 0px;
  justify-content: space-between;

  .resetSearch {
    top: 290px;

    @media screen and (max-width: 1919px) {
      top: 264px;
    }

    @media screen and (max-width: 1599px) {
      top: 210px;
    }

    @media screen and (max-width: 1439px) {
      top: 185px;
    }

    @media screen and (max-width: 1279px) {
      top: 170px;
    }
  }

  @media screen and (max-width: 1599px) {
    margin: 30px 0px;
  }

  @media screen and (max-width: 1439px) {
    margin: 20px 0px;
  }
}
