.header {
  z-index: 1;
  position: fixed;
  box-shadow: 0 4px 4px rgb(69 90 157 / 19%);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

.nav {
  display: flex;
  max-width: 1600px;
  width: 80%;
  align-items: center;
  justify-content: space-between;
}

.navBar {
  width: 60%;
  display: flex;
  justify-content: space-around;
}
